*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.menu{
    padding: 20px;
    background-color: whitesmoke;
}

.conatiner{
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-radius: 10px ;
    box-shadow: 1px 1px 1px 1px rgb(227, 227, 227);
}

.card{
    cursor: pointer;
    padding: 10px;
    display: flex;
    border-radius: 8px;
    width: 90%;
    gap: 10px;
}

.card .name{
    font-size: 16px;
    font-weight: 600;
}

.units span{
    font-weight: 600;
}

.image img{
    width: 50px;
}

.wb{
    border: 2px solid red;
    background-color:rgb(255, 192, 214) ;
}
.wb span{
    color: red;
}

.pl{
    border: 2px solid rgb(159, 144, 3);
    background-color: rgb(255, 248, 187);
}
.pl span{
    color: rgb(159, 144, 3);
}

.p{
    border: 2px solid rgb(3, 50, 89);
    background-color: rgb(183, 220, 250) ;
}
.p span{
    color: rgb(3, 50, 89);
}

.cy{
    border: 2px solid rgb(79, 10, 122);
    background-color:rgb(228, 191, 251) ;
}
.cy span{
    color: rgb(79, 10, 122);
}
